<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=data.title%></title>
</head>
<% 
function formatTime(mils) {
    var time = new Date(mls);
    return [
        time.getFullYear(),'-',fill(time.getMonth()+1),'-'fill(time.getDate()),' ',
        fill(time.getHours()),':',fill(time.getMinutes()),':', fill(time.getSeconds()),
        '.',fill(time.getMilliseconds(), 3)
    ].join('')

    function fill(n, c = 2) {
        var str = n;
        while(str.length < c) {
            str = '0' + str;
        }
        return str;
    }
}
%> 
<body>
    <div class="browsers">
        <% data.browsers.forEach(browser => { %>
            <div class="browser">
                <div class="browser-summary">
                    <dl>
                        <dt>Name:</dt>
                        <dd><%= browser.name %> </dd>
                    </dl>
                    <dl>
                        <dt>Full Name:</dt>
                        <dd><%= browser.fullName %> </dd>
                    </dl>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>